.buttonGroup {
    text-align: right;
}

.btn-white {
    background-color: white;
    margin: 0 5px;
}

.btn-white:hover {
    background-color: #d8d8d8;
}

.btn.white:active {
    background-color: #b9b7b7;
}

.itemListing {
    text-align: center;
}

.filtros {
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.1);
    position: fixed;
}

.precio::-webkit-inner-spin-button,
.precio::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filtros h2 {
    margin-top: 0;
}

.btnFiltrar {
    background-color: white;
    float: right;
}
